{% extends 'base.html.twig' %}

{% block title %}Fiche Personnage Ur Active Skill{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('css/pagedupersonnageur.css') }}">

{% endblock %}

{% block body %}

    {% for personnages in fiche_personnage_ur_active_skill %}
   
    <div class="container">
        <div class="row-7">
            <div class="col-5">
                <img src="{{ asset('img/fichepersonnageuractiverskill/' ~ personnages.img) }}" class="img" alt="">
            </div>
        </div>
    </div>
    <div class="container flex">
        <div class="row">
            <p>Leader Skill :</p>
            <p class="border-bottom">{{ personnages.aptitudeleader }}</p>
            {# <div class="dropdown-divider m-3 text-light"></div> #}
            <p>Attaque Spé : {{ personnages.nomattaquespecial }}</p>
            <p class="border-bottom">{{ personnages.descriptionattaquespecial }}</p>
            <p>Aptitude Passive : {{ personnages.nomaptitudepassive }}</p>
            <p class="border-bottom">{{ personnages.descriptionaptitudepassive }}</p>
            <p>Active Skill : {{ personnages.activeskill }}</p>
            <p class="border-bottom">{{ personnages.descriptionactiveskill }}</p>
            <p>Liste des Liens :</p>
            <p class="border-bottom">{{ personnages.listedesliensdupersonnage }}</p>
            <p>Liste des Catégories :</p>
            <p class="border-bottom">{{ personnages.listedescategoriesdupersonage }}</p>
        </div>
        <div class="row">
            <div class="col-6">
                <p class="">PDV : {{ personnages.hpdebase }}</p>
                <p class="">ATTAQUE : {{ personnages.attaquedebase }}</p>
                <p class="">DEFENSE : {{ personnages.defensedebase }}</p>
            </div>
            <div class="col-6">
                <p class="">PDV MAX : {{ personnages.hpmax }}</p>
                <p class="">ATTAQUE MAX : {{ personnages.attaquemax }}</p>
                <p class="">DEFENSE MAX : {{ personnages.defensemax }}</p>
            </div>
        </div>
    </div>
        
    {% endfor %}
    {% endblock %}