{% extends 'base.Admin.html.twig' %}

{% block title %}Fiche Personnage Lr{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('css/cssadmin/artworkfichepersonnage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/cssadminbutton/cssbuttonficheperso.css') }}">

{% endblock %}

{% block body %}
    <h1> Les Fiche Personnage Lr</h1>

    <h1><a href="{{ path('admin_fiche_personnage_lr_new') }}" class="btn1">Crée une nouvelle Fiche LR</a></h1>

    <a href="{{ path('admin_fiche_personnage_ssr_index') }}" class="btn2">Retour vers fiche Personnage Ssr</a>

    <a href="{{ path('admin_fiche_personnage_ur_index') }}" class="btn2">Retour vers fiche Personnage Ur</a>
    
    <table class="table text-light">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Aptitude Leader</th>
                <th>Nom Attaque Special</th>
                <th>Description Attaque Special</th>
                <th>Nom Attaque Special Ultime</th>
                <th>Description Attaque Special Ultime</th>
                <th>Nom Passive Skill</th>
                <th>Description Passive Skill</th>
                <th>Liste Des Liens Du Personnage</th>
                <th>Liste Des Categories Du Personnage</th>
                <th>Hp De Base</th>
                <th>Attaque De Base</th>
                <th>Defense De Base</th>
                <th>Hp Max</th>
                <th>Attaque Max</th>
                <th>Defense Max</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fiche_personnage_lr in fiche_personnage_lrs %}
            <tr>
                <td>{{ fiche_personnage_lr.id }}</td>
                <td><img src="{{ asset('img/fichepersonnageartworklr/' ~ fiche_personnage_lr.img) }}" class="img" alt=""></td>
                <td>{{ fiche_personnage_lr.aptitudeleader }}</td>
                <td>{{ fiche_personnage_lr.nomattaquespecial }}</td>
                <td>{{ fiche_personnage_lr.descriptionattaquespecial }}</td>
                <td>{{ fiche_personnage_lr.nomattaquespecialultime }}</td>
                <td>{{ fiche_personnage_lr.descriptionattaquespecialultime }}</td>
                <td>{{ fiche_personnage_lr.nompassiveskill }}</td>
                <td>{{ fiche_personnage_lr.descriptionpassiveskill }}</td>
                <td>{{ fiche_personnage_lr.listedesliensdupersonnage }}</td>
                <td>{{ fiche_personnage_lr.listedescategoriesdupersonnage }}</td>
                <td>{{ fiche_personnage_lr.hpdebase }}</td>
                <td>{{ fiche_personnage_lr.attaquedebase }}</td>
                <td>{{ fiche_personnage_lr.defensedebase }}</td>
                <td>{{ fiche_personnage_lr.hpmax }}</td>
                <td>{{ fiche_personnage_lr.attaquemax }}</td>
                <td>{{ fiche_personnage_lr.defensemax }}</td>
                <td>
                    <div class="espace">
                    <a href="{{ path('admin_fiche_personnage_lr_show', {'id': fiche_personnage_lr.id}) }}" class="btn3">Voir</a>
                    <a href="{{ path('admin_fiche_personnage_lr_edit', {'id': fiche_personnage_lr.id}) }}" class="btn4">Modifier</a>
                </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="18 text-light">Aucun résultat trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1><a href="{{ path('admin_fiche_personnage_lr_new') }}" class="btn1">Crée une nouvelle Fiche LR</a></h1>
{% endblock %}
