{% extends 'base.Admin.html.twig' %}

{% block title %}Fiche Personnage Rarete Ssr{% endblock %}

{% block body %}
    <h1>Fiche Personnage Rarete Ssr</h1>

    <table class="table text-light">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fiche_personnage_rarete_ssr.id }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td>{{ fiche_personnage_rarete_ssr.img }}</td>
            </tr>
            <tr>
                <th>Description Leader Skill</th>
                <td>{{ fiche_personnage_rarete_ssr.descriptionleaderskill }}</td>
            </tr>
            <tr>
                <th>Nom Super Attaque</th>
                <td>{{ fiche_personnage_rarete_ssr.nomsuperattaque }}</td>
            </tr>
            <tr>
                <th>Description Super Attaque</th>
                <td>{{ fiche_personnage_rarete_ssr.descriptionsuperattaque }}</td>
            </tr>
            <tr>
                <th>Nom Passive Skill</th>
                <td>{{ fiche_personnage_rarete_ssr.nompassiveskill }}</td>
            </tr>
            <tr>
                <th>Description Passive Skill</th>
                <td>{{ fiche_personnage_rarete_ssr.descriptionpassiveskill }}</td>
            </tr>
            <tr>
                <th>Liste Des Liens du Personnages</th>
                <td>{{ fiche_personnage_rarete_ssr.listedesliensdupersonnages }}</td>
            </tr>
            <tr>
                <th>Listes Des Categories du Personnage</th>
                <td>{{ fiche_personnage_rarete_ssr.listesdescategoriesdupersonnage }}</td>
            </tr>
            <tr>
                <th>Hp De Base</th>
                <td>{{ fiche_personnage_rarete_ssr.hpdebase }}</td>
            </tr>
            <tr>
                <th>Attaque De Base</th>
                <td>{{ fiche_personnage_rarete_ssr.attaquedebase }}</td>
            </tr>
            <tr>
                <th>Defense De Base</th>
                <td>{{ fiche_personnage_rarete_ssr.defensedebase }}</td>
            </tr>
            <tr>
                <th>Hp Max</th>
                <td>{{ fiche_personnage_rarete_ssr.hpmax }}</td>
            </tr>
            <tr>
                <th>Attaque Max</th>
                <td>{{ fiche_personnage_rarete_ssr.attaquemax }}</td>
            </tr>
            <tr>
                <th>Defense Max</th>
                <td>{{ fiche_personnage_rarete_ssr.defensemax }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_fiche_personnage_rarete_ssr_index') }}" class="text-light">Retour a la liste des Fiches</a>

    <a href="{{ path('admin_fiche_personnage_rarete_ssr_edit', {'id': fiche_personnage_rarete_ssr.id}) }}" class="text-light">edit</a>

    {{ include('admin_fiche_personnage_rarete_ssr/_delete_form.html.twig') }}
{% endblock %}
