{% extends 'base.html.twig' %}

{% block title %}Fiche de {{ personnage.title }}{% endblock %}

{% block body %}
    <h1>Fiche de {{ personnage.title }} </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Img</th>
                <th>Description Leader Skill</th>
                <th>Nom Super Attaque</th>
                <th>Description Super Attaque</th>
                <th>Nom Passive Skill</th>
                <th>Description Passive Skill</th>
                <th>Liste Des Liens Du Personnages</th>
                <th>Listes Des Categories Du Personnage</th>
                <th>Hp De Base</th>
                <th>Attaque De Base</th>
                <th>Defense De Base</th>
                <th>Hp Max</th>
                <th>Attaque Max</th>
                <th>Defense Max</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fiche_personnage_rarete_ssr in fiche_personnage_rarete_ssrs %}
            <tr>
                <td>{{ fiche_personnage_rarete_ssr.id }}</td>
                <td><img src="{{ asset('img/fichepersonnageartwork/' ~ fiche_personnage_rarete_ssr.img) }}" alt=""></td>
                <td>{{ fiche_personnage_rarete_ssr.descriptionleaderskill }}</td>
                <td>{{ fiche_personnage_rarete_ssr.nomsuperattaque }}</td>
                <td>{{ fiche_personnage_rarete_ssr.descriptionsuperattaque }}</td>
                <td>{{ fiche_personnage_rarete_ssr.nompassiveskill }}</td>
                <td>{{ fiche_personnage_rarete_ssr.descriptionpassiveskill }}</td>
                <td>{{ fiche_personnage_rarete_ssr.listedesliensdupersonnages }}</td>
                <td>{{ fiche_personnage_rarete_ssr.listesdescategoriesdupersonnage }}</td>
                <td>{{ fiche_personnage_rarete_ssr.hpdebase }}</td>
                <td>{{ fiche_personnage_rarete_ssr.attaquedebase }}</td>
                <td>{{ fiche_personnage_rarete_ssr.defensedebase }}</td>
                <td>{{ fiche_personnage_rarete_ssr.hpmax }}</td>
                <td>{{ fiche_personnage_rarete_ssr.attaquemax }}</td>
                <td>{{ fiche_personnage_rarete_ssr.defensemax }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
