{% extends 'base.html.twig' %}

{% block title %}Fiche Personnage{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('css/navbar.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/flexencyclopediedupersonnage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/pagedupersonnage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/statpersonnage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/descriptionperso.css') }}">

{% endblock %}

{% block body %}

    {% for personnages in fiche_personnage_ssr %}

    <div class=" container-fluid container2 row-12">
        <img src="{{ asset('img/fichepersonnageartwork/' ~ personnages.img) }}" alt="">
    <div class="box">
        <div class="flex">
            <div class="row">
                <div class="col">
                    <p class="text0">Leader skill :</p>
                    <p class="text1">{{ personnages.aptitudeleader }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>{{ personnages.nomattaquespecial }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>{{ personnages.descriptionattaquespecial }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>{{ personnages.nomaptitudepassive}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>{{ personnages.descriptionaptitudepassive }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>{{ personnages.listedesliensdupersonnage }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>{{ personnages.listedescategoriesdupersonnage }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>{{ personnages.hpdebase }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>{{ personnages.attaquedebase}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>{{ personnages.defensedebase}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>{{ personnages.hpmax}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>{{ personnages.attaquemax}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>{{ personnages.defensemax}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endfor %}
    
{% endblock %}
