{% extends 'base.html.twig' %}

{% block title %}Fiche de{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('css/navbar.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/flexencyclopediedupersonnage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/pagedupersonnage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/statpersonnage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/descriptionperso.css') }}">

{% endblock %}

{% block body %}
    <h1>Fiche de</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Img</th>
                <th>Aptitudeleader</th>
                <th>Nomattaquespecial</th>
                <th>Descriptionattaquespecial</th>
                <th>Nomaptitudepassive</th>
                <th>Descriptionaptitudepassive</th>
                <th>Listedesliensdupersonnage</th>
                <th>Listedescategoriesdupersonnage</th>
                <th>Hpdebase</th>
                <th>Attaquedebase</th>
                <th>Defensedebase</th>
                <th>Hpmax</th>
                <th>Attaquemax</th>
                <th>Defensemax</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fiche_personnage_ssr in fiche_personnage_ssrs %}
            <tr>
                <td>{{ fiche_personnage_ssr.id }}</td>
                <td>{{ fiche_personnage_ssr.img }}</td>
                <td>{{ fiche_personnage_ssr.aptitudeleader }}</td>
                <td>{{ fiche_personnage_ssr.nomattaquespecial }}</td>
                <td>{{ fiche_personnage_ssr.descriptionattaquespecial }}</td>
                <td>{{ fiche_personnage_ssr.nomaptitudepassive }}</td>
                <td>{{ fiche_personnage_ssr.descriptionaptitudepassive }}</td>
                <td>{{ fiche_personnage_ssr.listedesliensdupersonnage }}</td>
                <td>{{ fiche_personnage_ssr.listedescategoriesdupersonnage }}</td>
                <td>{{ fiche_personnage_ssr.hpdebase }}</td>
                <td>{{ fiche_personnage_ssr.attaquedebase }}</td>
                <td>{{ fiche_personnage_ssr.defensedebase }}</td>
                <td>{{ fiche_personnage_ssr.hpmax }}</td>
                <td>{{ fiche_personnage_ssr.attaquemax }}</td>
                <td>{{ fiche_personnage_ssr.defensemax }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
