{% extends 'base.html.twig' %}

{% block title %}Fiche Personnage{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('css/navbar.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/flexencyclopediedupersonnage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/pagedupersonnage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/statpersonnage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/descriptionperso.css') }}">

{% endblock %}

{% block body %}
    <h1>Fiche Personnage</h1>

    {% for personnages in fiche_personnage_ssr %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ personnages.id }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td>{{ personnages.img }}</td>
            </tr>
            <tr>
                <th>Aptitudeleader</th>
                <td>{{ personnages.aptitudeleader }}</td>
            </tr>
            <tr>
                <th>Nomattaquespecial</th>
                <td>{{ personnages.nomattaquespecial }}</td>
            </tr>
            <tr>
                <th>Descriptionattaquespecial</th>
                <td>{{ personnages.descriptionattaquespecial }}</td>
            </tr>
            <tr>
                <th>Nomaptitudepassive</th>
                <td>{{ personnages.nomaptitudepassive }}</td>
            </tr>
            <tr>
                <th>Descriptionaptitudepassive</th>
                <td>{{ personnages.descriptionaptitudepassive }}</td>
            </tr>
            <tr>
                <th>Listedesliensdupersonnage</th>
                <td>{{ personnages.listedesliensdupersonnage }}</td>
            </tr>
            <tr>
                <th>Listedescategoriesdupersonnage</th>
                <td>{{ personnages.listedescategoriesdupersonnage }}</td>
            </tr>
            <tr>
                <th>Hpdebase</th>
                <td>{{ personnages.hpdebase }}</td>
            </tr>
            <tr>
                <th>Attaquedebase</th>
                <td>{{ personnages.attaquedebase }}</td>
            </tr>
            <tr>
                <th>Defensedebase</th>
                <td>{{ personnages.defensedebase }}</td>
            </tr>
            <tr>
                <th>Hpmax</th>
                <td>{{ personnages.hpmax }}</td>
            </tr>
            <tr>
                <th>Attaquemax</th>
                <td>{{ personnages.attaquemax }}</td>
            </tr>
            <tr>
                <th>Defensemax</th>
                <td>{{ personnages.defensemax }}</td>
            </tr>
        </tbody>
    </table>
    {% endfor %}
    
{% endblock %}
