{% extends 'base.Admin.html.twig' %}

{% block title %}Modifier Encyclopedie du Personnage{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('css/cssadmin/encyclopediedupersonnage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/cssadminbutton/cssbutton.css') }}">

{% endblock %}

{% block body %}
<div class="container">
    <h1><img src=" {{ asset('img/adminimage/balls3.png') }} " class="img1"alt="">Modifier Encyclopedie Du Personnage<img src=" {{ asset('img/adminimage/balls4.png') }} " class="img2"alt=""></h1>

    {{ include('admin_encyclopedie_du_personnage/_form.html.twig', {'button_label': 'Mettre a jour'}) }}

    <a href="{{ path('admin_encyclopedie_du_personnage_index') }}" class="btn2">Retour a la liste</a>

    {{ include('admin_encyclopedie_du_personnage/_delete_form.html.twig') }}
</div>
{% endblock %}
