{% extends 'base.Admin.html.twig' %}

{% block title %} Crée une nouvelle Encyclopedie du Personnage{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('css/cssadmin/encyclopediedupersonnage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/cssadminbutton/cssbutton.css') }}">

{% endblock %}

{% block body %}
    <h1 class="text-light"><img src=" {{ asset('img/adminimage/balls3.png') }} " class="img1"alt="">Crée une nouvelle Encyclopedie du Personnage<img src=" {{ asset('img/adminimage/balls4.png') }} " class="img2"alt=""></h1>

    {{ include('admin_encyclopedie_du_personnage/_form.html.twig') }}

    <a href="{{ path('admin_encyclopedie_du_personnage_index') }}" class="btn2">Retour a la liste des Encyclopédie du Personnage</a>
{% endblock %}
