{% extends 'base.Admin.html.twig' %}

{% block title %}Encyclopedie Du Personnage{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('css/cssadmin/encyclopediedupersonnage.css') }}">

{% endblock %}

{% block body %}
    <h1>Encyclopedie Du Personnage</h1>

    <a href="{{ path('admin_encyclopedie_du_personnage_index') }}" type="button" class="btn btn-info">Retour a la liste des Encyclopédie du Personnage</a>

    <a href="{{ path('admin_encyclopedie_du_personnage_edit', {'id': encyclopedie_du_personnage.id}) }}" type="button" class="btn btn-warning">Modifier</a>

    {{ include('admin_encyclopedie_du_personnage/_delete_form.html.twig') }}

    <table class="table text-light">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ encyclopedie_du_personnage.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ encyclopedie_du_personnage.title }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('img/logoencyclopediedupersonnage/' ~ encyclopedie_du_personnage.img) }}" alt=""></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_encyclopedie_du_personnage_index') }}" type="button" class="btn btn-info">Retour a la liste des Encyclopédie du Personnage</a>

    <a href="{{ path('admin_encyclopedie_du_personnage_edit', {'id': encyclopedie_du_personnage.id}) }}" type="button" class="btn btn-warning">Modifier</a>

    {{ include('admin_encyclopedie_du_personnage/_delete_form.html.twig') }}
{% endblock %}
