{% extends 'base.Admin.html.twig' %}


{% block title %}Fiche Personnage Ur{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('css/cssadmin/artworkfichepersonnage.css') }}">

{% endblock %}


{% block body %}
    <h1>Les Fiches Personnage Ur</h1>

    <h1><a href="{{ path('admin_fiche_personnage_ur_new') }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Crée une nouvelle Fiche Ur</a></h1>

    <a href="{{ path('admin_fiche_personnage_ssr_index') }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Retour vers fiche Personnage Ssr</a>

    <a href="{{ path('admin_fiche_personnage_lr_index') }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Retour vers fiche Personnage Lr</a>

    <table class="table text-light">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Aptitude Leader</th>
                <th>Nom Attaque Special</th>
                <th>Description Attaque Special</th>
                <th>Nom Aptitude Passive</th>
                <th>Description Aptitude Passive</th>
                <th>Liste Des Liens Du Personnage</th>
                <th>Liste Des Categories Du Personnage</th>
                <th>Hp de base</th>
                <th>Attaque De  Base</th>
                <th>Defense De Base</th>
                <th>Hp Max</th>
                <th>Attaque Max</th>
                <th>Defense Max</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fiche_personnage_ur in fiche_personnage_urs %}
            <tr>
                <td>{{ fiche_personnage_ur.id }}</td>
                <td><img src="{{ asset('img/fichepersonnageartworkur/' ~ fiche_personnage_ur.img) }}" class="img" alt=""></td>
                <td>{{ fiche_personnage_ur.aptitudeleader }}</td>
                <td>{{ fiche_personnage_ur.nomattaquespecial }}</td>
                <td>{{ fiche_personnage_ur.descriptionattaquespecial }}</td>
                <td>{{ fiche_personnage_ur.nomaptitudepassive }}</td>
                <td>{{ fiche_personnage_ur.descriptionaptitudepassive }}</td>
                <td>{{ fiche_personnage_ur.listedeliensdupersonnage }}</td>
                <td>{{ fiche_personnage_ur.listedescategoriesdupersonnage }}</td>
                <td>{{ fiche_personnage_ur.hpdebase }}</td>
                <td>{{ fiche_personnage_ur.attaquedebase }}</td>
                <td>{{ fiche_personnage_ur.defensedebase }}</td>
                <td>{{ fiche_personnage_ur.hpmax }}</td>
                <td>{{ fiche_personnage_ur.attaquemax }}</td>
                <td>{{ fiche_personnage_ur.defensemax }}</td>
                <td>
                    <a href="{{ path('admin_fiche_personnage_ur_show', {'id': fiche_personnage_ur.id}) }}" class="text-light">Voir</a>
                    <a href="{{ path('admin_fiche_personnage_ur_edit', {'id': fiche_personnage_ur.id}) }}" class="text-light">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16 text-light">Aucun résultat trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1><a href="{{ path('admin_fiche_personnage_ur_new') }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Crée une nouvelle Fiche Ur</a></h1>
{% endblock %}
