{% extends 'base.html.twig' %}

{% block title %}{{ personnages.title }}{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('css/pagedupersonnage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/cssbuttonuser.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/css.css') }}">

{#{% for personnages in fiche_personnage %}#}

{% if (personnages.nomattaquespecialultime is not empty ) or (personnages.descriptionattaquespecialultime is not empty) %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/pagedupersonnagelr.css') }}">
{% endif %}

{#{% endfor %}#}

{% endblock %}

{% block body %}


    {#{% for personnages in fiche_personnage %}#}

    {# <div class="btn-1">
        BUTTON
      </div>
      <div class="btn-4">
        BUTTON
      </div> #}
      
      <h1>{{ personnages.title }}</h1>
      <h1>{{ personnages.secondtitle }}</h1>

      <form>
        <input class="btn2 " type="button" value="Retour en arrière" onclick="history.go(-1)">
      </form>

    <div class="container">
        <div class="row-7">
            <div class="col-5">
                <img src="{{ asset('img/fichepersonnage/' ~ personnages.img) }}" class="img" alt="">
            </div>
        </div>
    </div>
    <div class="container flex">
        <div class="row">
            <p>Leader Skill :</p>
            <p class="border-bottom">{{ personnages.aptitudeleader }}</p>
            {# <div class="dropdown-divider m-3 text-light"></div> #}
            
            <p>Attaque Spéciale : {{ personnages.nomattaquespecial }}</p>
            <p class="border-bottom">{{ personnages.descriptionattaquespecial }}</p>

            {% if personnages.nomattaquespecialultime  is not empty %}
            <p>Attaque Spécial Ultime : {{ personnages.nomattaquespecialultime }}</p>
            {% endif %}

            {% if personnages.descriptionattaquespecialultime is not empty %}
            <p class="border-bottom">{{ personnages.descriptionattaquespecialultime }}</p>
            {% endif %}

            {% if personnages.nomunitsuperattaque is not empty %}
            <p>Unit Super Attaque : {{ personnages.nomunitsuperattaque }}</p>
            {% endif %}

            {% if personnages.descriptionunitsuperattaque is not empty %}
            <p class="border-bottom">{{ personnages.descriptionunitsuperattaque }}</p>
            {% endif %}

            <p>Aptitude Passive : {{ personnages.nompassiveskill }}</p>
            <p class="border-bottom">{{ personnages.descriptionpassiveskill }}</p>

            {% if personnages.nomactiveskill is not empty %}
            <p>Active Skill : {{ personnages.nomactiveskill }}</p>
            {% endif %}

            {% if personnages.descriptionactiveskill  is not empty %}
            <p class="border-bottom">{{ personnages.descriptionactiveskill }}</p>
            {% endif %}

            <p>Liste des Liens :</p>
            <p class="border-bottom">{{ personnages.listedesliensdupersonnage }}</p>

            <p>Liste des Catégories :</p>
            <p class="border-bottom">{{ personnages.listedescategoriedupersonnage }}</p>

        </div>
        <div class="row">
            <div class="col-6">
                <p class="">PV 55% : {{ personnages.hpdebase }}</p>
                <p class="">ATTAQUE 55% : {{ personnages.attaquedebase }}</p>
                <p class="">DEFENSE 55% : {{ personnages.defensedebase }}</p>
            </div>
            <div class="col-6">
                <p class="">PV MAX 100% : {{ personnages.hpmax }}</p>
                <p class="">ATTAQUE MAX 100% : {{ personnages.attaquemax }}</p>
                <p class="">DEFENSE MAX  100%: {{ personnages.defensemax }}</p>
            </div>
        </div>
    </div>

    {#{% endfor %}#}
    {% endblock %}
    
