{% extends 'base.Admin.html.twig' %}

{% block title %}Espace Admin{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('css/cssadmin/accueilimage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/css.css') }}">


{% endblock %}

{% block body %}
<h1><img src=" {{ asset('img/adminimage/gokussj2.png') }} " class="img3" alt=""/>Bien le bonjour cher Admin Dokkanneur<img src=" {{ asset('img/adminimage/vegetassj2.png') }} " class="img3" alt=""/></h1>
<img src=" {{ asset('img/adminimage/whisadvice.png') }} " class="img4" alt=""/>

{% endblock %}
