{% extends 'base.Admin.html.twig' %}

{% block title %}Modifier FichePersonnage{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('css/cssadmin/artworkfichepersonnage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/cssadminbutton/cssbutton.css') }}">

{% endblock %}


{% block body %}
    <h1><img src=" {{ asset('img/adminimage/balls7.png') }} " class="img1"alt="">Modifier Fiche Personnage<img src=" {{ asset('img/adminimage/balls7.png') }} " class="img2"alt=""></h1>

    {{ include('admin_fiche_personnage/_form.html.twig', {'button_label': 'Mettre a jour'}) }}

    <a href="{{ path('admin_fiche_personnage_index') }}" class="btn2">Retour a la liste des Fiches</a>

    {{ include('admin_fiche_personnage/_delete_form.html.twig') }}
{% endblock %}
