{% extends 'base.Admin.html.twig' %}

{% block title %}Fiche Personnage{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('css/cssadmin/artworkfichepersonnage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/cssadminbutton/buttonfiche.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/cssadminbutton/espacebutton.css') }}">


{% endblock %}

{% block body %}
    <h1><img src=" {{ asset('img/adminimage/balls7.png') }} " class="img1"alt="">Fiche Personnage<img src=" {{ asset('img/adminimage/balls7.png') }} " class="img2"alt=""></h1>
    <h1><a href="{{ path('admin_fiche_personnage_new') }}" class="btn1">Crée une Fiche Personnage</a></h1>
    <a href="{{ path('admin_encyclopedie_des_personnages_index') }}" class="btn2">Retour vers Encyclopédie des Personnages</a>
    <a href="{{ path('admin_encyclopedie_du_personnage_index') }}" class="btn2">Retour vers Encyclopédie du Personnage</a>
    <a href="{{ path('admin_front_page_nouveau_perso_index') }}" class="btn2">Retour vers Front Page Nouveau Perso</a>
    <a href="{{ path('admin_user_index') }}" class="btn2">Retour vers Gérer Utilisateur</a>


    <table class="table text-light">
        <thead>
            <tr>
                <th>Actions</th>
                <th>Id</th>
                <th>Image</th>
                <th>Nom Personnage</th>
                <th>Second Nom</th>
                <th>Aptitude Leader</th>
                <th>Nom Attaque Special</th>
                <th>Description Attaque Special</th>
                <th>Nom Attaque Special Ultime</th>
                <th>Description Attaque Special Ultime</th>
                <th>Nom Unit Super Attaque</th>
                <th>Description Unit Super Attaque</th>
                <th>Nom Active Skill</th>
                <th>Description Active Skill</th>
                <th>Nom Passive Skill</th>
                <th>Description Passive Skill</th>
                <th>Liste Des Liens Du Personnage</th>
                <th>Liste Des Categories Du Personnage</th>
                <th>Hp De Base</th>
                <th>Attaque De Base</th>
                <th>Defense De Base</th>
                <th>Hp Max</th>
                <th>Attaque Max</th>
                <th>Defense Max</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fiche_personnage in fiche_personnages %}
            <tr>
                <td>
                    <div class="espace">
                        <div>
                        <a href="{{ path('admin_fiche_personnage_show', {'id': fiche_personnage.id}) }}" class="btn3 espace1">Voir</a>
                        </div>
                        <a href="{{ path('admin_fiche_personnage_edit', {'id': fiche_personnage.id}) }}" class="btn4 espace2">Modifier</a>
                    </div>
                </td>
                <td>{{ fiche_personnage.id }}</td>
                <td><img src="{{ asset('img/fichepersonnage/' ~ fiche_personnage.img) }}" class="img" alt=""></td>
                <td>{{ fiche_personnage.title}}</td>
                <td>{{ fiche_personnage.secondtitle }}</td>
                <td>{{ fiche_personnage.aptitudeleader }}</td>
                <td>{{ fiche_personnage.nomattaquespecial }}</td>
                <td>{{ fiche_personnage.descriptionattaquespecial|u.truncate(90, '...', false) }}</td>
                <td>{{ fiche_personnage.nomattaquespecialultime }}</td>
                <td>{{ fiche_personnage.descriptionattaquespecialultime |u.truncate(90, '...', false) }}</td>
                <td>{{ fiche_personnage.nomunitsuperattaque }}</td>
                <td>{{ fiche_personnage.descriptionunitsuperattaque|u.truncate(90, '...', false) }}</td>
                <td>{{ fiche_personnage.nomactiveskill }}</td>
                <td>{{ fiche_personnage.descriptionactiveskill|u.truncate(90, '...', false) }}</td>
                <td>{{ fiche_personnage.nompassiveskill }}</td>
                <td>{{ fiche_personnage.descriptionpassiveskill|u.truncate(90, '...', false) }}</td>
                <td>{{ fiche_personnage.listedesliensdupersonnage|u.truncate(90, '...', false) }}</td>
                <td>{{ fiche_personnage.listedescategoriedupersonnage|u.truncate(90, '...', false) }}</td>
                <td>{{ fiche_personnage.hpdebase }}</td>
                <td>{{ fiche_personnage.attaquedebase }}</td>
                <td>{{ fiche_personnage.defensedebase }}</td>
                <td>{{ fiche_personnage.hpmax }}</td>
                <td>{{ fiche_personnage.attaquemax }}</td>
                <td>{{ fiche_personnage.defensemax }}</td>
                <td>
                    <div class="espace">
                        <div>
                        <a href="{{ path('admin_fiche_personnage_show', {'id': fiche_personnage.id}) }}" class="btn3 espace1">Voir</a>
                        </div>
                        <a href="{{ path('admin_fiche_personnage_edit', {'id': fiche_personnage.id}) }}" class="btn4 espace2">Modifier</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="22 text-light">Aucun résultat trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_fiche_personnage_new') }}" class="btn1">Crée une nouvelle Fiche Personnage</a>
{% endblock %}
