{% extends 'base.Admin.html.twig' %}

{% block title %}Fiche Personnage{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('css/cssadmin/artworkfichepersonnage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/cssadminbutton/cssbutton.css') }}">

{% endblock %}


{% block body %}
    <h1>Fiche Personnage</h1>
    <div class="espace2">
     <a href="{{ path('admin_fiche_personnage_new') }}" class="btn1">Crée une Fiche Personnage</a>
     <a href="{{ path('admin_fiche_personnage_edit', {'id': fiche_personnage.id}) }}" class="btn4">Modifier</a>
     {{ include('admin_fiche_personnage/_delete_form.html.twig') }}
     <h1><a href="{{ path('admin_encyclopedie_des_personnages_index') }}" class="btn2">Retour vers Encyclopédie des Personnages</a></h1>
     <h1><a href="{{ path('admin_encyclopedie_du_personnage_index') }}" class="btn2">Retour vers Encyclopédie du Personnage</a></h1>
    </div>
    
    <table class="table text-light">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fiche_personnage.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('img/fichepersonnage/' ~ fiche_personnage.img) }}" class="img" alt=""></td>
            </tr>
            <tr>
                <th>Aptitude Leader</th>
                <td>{{ fiche_personnage.aptitudeleader }}</td>
            </tr>
            <tr>
                <th>Nom Attaque Special</th>
                <td>{{ fiche_personnage.nomattaquespecial }}</td>
            </tr>
            <tr>
                <th>Description Attaque Special</th>
                <td>{{ fiche_personnage.descriptionattaquespecial }}</td>
            </tr>
            <tr>
                <th>Nom Attaque Special Ultime</th>
                <td>{{ fiche_personnage.nomattaquespecialultime }}</td>
            </tr>
            <tr>
                <th>Description Attaque Special Ultime</th>
                <td>{{ fiche_personnage.descriptionattaquespecialultime }}</td>
            </tr>
            <tr>
                <th>Nom Unit Super Attaque</th>
                <td>{{ fiche_personnage.nomunitsuperattaque }}</td>
            </tr>
            <tr>
                <th>Description Unit Super Attaque</th>
                <td>{{ fiche_personnage.descriptionunitsuperattaque }}</td>
            </tr>
            <tr>
                <th>Nom Active Skill</th>
                <td>{{ fiche_personnage.nomactiveskill }}</td>
            </tr>
            <tr>
                <th>Description Active Skill</th>
                <td>{{ fiche_personnage.descriptionactiveskill }}</td>
            </tr>
            <tr>
                <th>Nom Passive Skill</th>
                <td>{{ fiche_personnage.nompassiveskill }}</td>
            </tr>
            <tr>
                <th>Description Passive Skill</th>
                <td>{{ fiche_personnage.descriptionpassiveskill }}</td>
            </tr>
            <tr>
                <th>Liste Des Liens Du Personnage</th>
                <td>{{ fiche_personnage.listedesliensdupersonnage }}</td>
            </tr>
            <tr>
                <th>Liste Des Categories Du Personnage</th>
                <td>{{ fiche_personnage.listedescategoriedupersonnage }}</td>
            </tr>
            <tr>
                <th>Hp De Base</th>
                <td>{{ fiche_personnage.hpdebase }}</td>
            </tr>
            <tr>
                <th>Attaque De Base</th>
                <td>{{ fiche_personnage.attaquedebase }}</td>
            </tr>
            <tr>
                <th>Defense De Base</th>
                <td>{{ fiche_personnage.defensedebase }}</td>
            </tr>
            <tr>
                <th>Hp Max</th>
                <td>{{ fiche_personnage.hpmax }}</td>
            </tr>
            <tr>
                <th>Attaque Max</th>
                <td>{{ fiche_personnage.attaquemax }}</td>
            </tr>
            <tr>
                <th>Defense Max</th>
                <td>{{ fiche_personnage.defensemax }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_fiche_personnage_index') }}" class="btn2">Retour a la liste des Fiches Personnages</a>

    <a href="{{ path('admin_fiche_personnage_edit', {'id': fiche_personnage.id}) }}" class="btn4">Modifier</a>

    {{ include('admin_fiche_personnage/_delete_form.html.twig') }}
{% endblock %}
