{% extends 'base.Admin.html.twig' %}

{% block title %}Encyclopedie des Personnages{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('css/cssadmin/encyclopediedespersonnages.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/cssadminbutton/cssbutton.css') }}">

{% endblock %}

{% block body %}
    <h1>Encyclopedie des Personnages</h1>
    
    <a href="{{ path('admin_encyclopedie_des_personnages_index') }}" class="btn2">Retour a la liste des Encylopédie des Personnages</a>

    <a href="{{ path('admin_encyclopedie_des_personnages_edit', {'id': encyclopedie_des_personnage.id}) }}" class="btn4">Modifier</a>

    {{ include('admin_encyclopedie_des_personnages/_delete_form.html.twig') }}

    <table class="table text-light">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ encyclopedie_des_personnage.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ encyclopedie_des_personnage.title }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('img/logoencyclopediedespersonnages/' ~ encyclopedie_des_personnage.img) }}" class="img" alt=""></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_encyclopedie_des_personnages_index') }}" class="btn2">Retour a la liste des Encylopédie des Personnages</a>

    <a href="{{ path('admin_encyclopedie_des_personnages_edit', {'id': encyclopedie_des_personnage.id}) }}" class="btn4">Modifier</a>

    {{ include('admin_encyclopedie_des_personnages/_delete_form.html.twig') }}
{% endblock %}
