{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact{% endblock %}

{% block body %}
<h1>Formulaire de Contact</h1>
<h3 class="text-light">Utiliser ce formulaire pour me faire part de votre avis sur le site , 
    mais aussi me donner des conseille ou des choses que vous aimeriez voir :)</h3>
    
<div class="container">
<div class="p-5 contact-form text-light">
    <div class="form-group">
{{ form_start(our_form) }}
    {{ form_row(our_form.nom, {'attr': {'class': 'form-control'}}) }}


</div>
<div class="form-group">
    {{ form_row(our_form.email, {'attr': {'class': 'form-control'}}) }}

</div>
<div class="form-group">
    {{ form_row(our_form.message, {'attr': {'class': 'form-control'}}) }}

</div>

<div class="form-group">
    <input type="submit" value="Send" class="btn btn-primary py-3 px-5">
</div>
{{ form_end(our_form) }}
</div>
</div>

</div>
{% endblock %}