{% extends 'base.Admin.html.twig' %}

{% block title %}Fiche Personnage Ur Active Skill{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('css/cssadmin/artworkfichepersonnage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/cssadminbutton/cssbuttonficheperso.css') }}">

{% endblock %}

{% block body %}
    <h1>Fiche Personnage Ur Active Skill</h1>

    <h1><a href="{{ path('admin_fiche_personnage_ur_active_skill_new')  }}" class="btn1">Crée une nouvelle Fiche Ur active Skill</a></h1>

    <a href="{{ path('admin_fiche_personnage_ssr_index') }}" class="btn2">Retour vers fiche Personnage Ssr</a>

    <a href="{{ path('admin_fiche_personnage_ur_index') }}" class="btn2">Retour vers fiche Personnage Ur</a>

    <a href="{{ path('admin_fiche_personnage_lr_index') }}" class="btn2">Retour vers fiche Personnage Lr</a>

    <table class="table text-light">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Aptitude Leader</th>
                <th>Nom Attaque Special</th>
                <th>Description Attaque Special</th>
                <th>Nom Aptitude Passive</th>
                <th>Description Aptitude Passive</th>
                <th>Active Skill</th>
                <th>Liste Des Liens Du Personnage</th>
                <th>Liste Des Categories Du personage</th>
                <th>Hp De Base</th>
                <th>Attaque De Base</th>
                <th>Defense De Base</th>
                <th>Hp Max</th>
                <th>Attaque Max</th>
                <th>Defense Max</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fiche_personnage_ur_active_skill in fiche_personnage_ur_active_skills %}
            <tr>
                <td>{{ fiche_personnage_ur_active_skill.id }}</td>
                <td><img src="{{ asset('img/fichepersonnageuractiverskill/' ~ fiche_personnage_ur_active_skill.img) }}" class="img" alt=""></td>
                <td>{{ fiche_personnage_ur_active_skill.aptitudeleader }}</td>
                <td>{{ fiche_personnage_ur_active_skill.nomattaquespecial }}</td>
                <td>{{ fiche_personnage_ur_active_skill.descriptionattaquespecial }}</td>
                <td>{{ fiche_personnage_ur_active_skill.nomaptitudepassive }}</td>
                <td>{{ fiche_personnage_ur_active_skill.descriptionaptitudepassive }}</td>
                <td>{{ fiche_personnage_ur_active_skill.activeskill }}</td>
                <td>{{ fiche_personnage_ur_active_skill.listedesliensdupersonnage }}</td>
                <td>{{ fiche_personnage_ur_active_skill.listedescategoriesdupersonage }}</td>
                <td>{{ fiche_personnage_ur_active_skill.hpdebase }}</td>
                <td>{{ fiche_personnage_ur_active_skill.attaquedebase }}</td>
                <td>{{ fiche_personnage_ur_active_skill.defensedebase }}</td>
                <td>{{ fiche_personnage_ur_active_skill.hpmax }}</td>
                <td>{{ fiche_personnage_ur_active_skill.attaquemax }}</td>
                <td>{{ fiche_personnage_ur_active_skill.defensemax }}</td>
                <td>
                    <a href="{{ path('admin_fiche_personnage_ur_active_skill_show', {'id': fiche_personnage_ur_active_skill.id}) }}" class="btn3">Voir</a>
                    <a href="{{ path('admin_fiche_personnage_ur_active_skill_edit', {'id': fiche_personnage_ur_active_skill.id}) }}" class="btn4">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17 text-light">Aucun résultat trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1><a href="{{ path('admin_fiche_personnage_ur_active_skill_new')  }}" class="btn1">Crée une nouvelle Fiche Ur active Skill</a></h1>
{% endblock %}
