{% extends 'base.html.twig' %}

{% block title %}Encyclopedie de {{ encyclopedieDuPersonnages[0].encyclopedieDesPersonnages.title }}{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('css/flexencyclopediedupersonnage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/cssbuttonuser.css') }}">
{% endblock %}

{% block body %}
  
 <h1 class="text-light">Encyclopedie de {{ encyclopedieDuPersonnages[0].encyclopedieDesPersonnages.title }}</h1>

 <form>
    <input class="btn2" type="button" value="Retour en arrière" onclick="history.go(-1)">
  </form>

 <div class="box" style="flex-flow: row wrap;">
    {% if encyclopedieDuPersonnages is not null %}
       

        {% for encyclopedieDuPersonnage in encyclopedieDuPersonnages %}
            <a href="{{ path('fiche_personnage', {'id':encyclopedieDuPersonnage.fichePersonnages.get(0).id|default("#")}) }}" class="flex">
                <div class="image">
                    <img src=" {{ asset('img/logoencyclopediedupersonnage/' ~ encyclopedieDuPersonnage.img) }} " alt="" />
                </div>
                <div class="text">
                    <p>{{ encyclopedieDuPersonnage.title }}</p>
                </div>
            </a>
        {% endfor %}
    {% else %}
        <h1>T'as encore rien créé mec !</h1>
    {% endif %}
{% endblock %}