{% extends 'base.Admin.html.twig' %}

{% block title %}Modifir un Nouveau Perso en Front Page{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('css/cssadmin/artworkfrontpage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/cssadminbutton/cssbutton.css') }}">

{% endblock %}

{% block body %}
<div class="container">
    <h1><img src=" {{ asset('img/adminimage/balls5.png') }} " class="img1"alt="">Modifier un Nouveau Perso en Front Page<img src=" {{ asset('img/adminimage/balls6.png') }} " class="img2"alt=""></h1>

    {{ include('admin_front_page_nouveau_perso/_form.html.twig', {'button_label': 'Mettre a jour'}) }}

    <a href="{{ path('admin_front_page_nouveau_perso_index') }}" class="btn2">Retour a la liste des Nouveau Personnages</a>

    {{ include('admin_front_page_nouveau_perso/_delete_form.html.twig') }}
</div>
{% endblock %}
