{% extends 'base.Admin.html.twig' %}

{% block title %}Crée un Nouveau Perso en Front Page{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('css/cssadmin/artworkfrontpage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/cssadminbutton/cssbutton.css') }}">

{% endblock %}

{% block body %}
    <h1><img src=" {{ asset('img/adminimage/balls5.png') }} " class="img1"alt="">Crée un Nouveau Perso en Front Page<img src=" {{ asset('img/adminimage/balls6.png') }} " class="img2"alt=""></h1>

    {{ include('admin_front_page_nouveau_perso/_form.html.twig') }}

    <a href="{{ path('admin_front_page_nouveau_perso_index') }}" class="btn2">Retour a la listes des Nouveau Personnage </a>

{% endblock %}
