{% extends 'base.Admin.html.twig' %}

{% block title %}Front Page Nouveau Perso{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('css/cssadmin/artworkfichepersonnage.css') }}">

{% endblock %}

{% block body %}
    <h1>Front Page Nouveau Perso</h1>

    <table class="table text-light">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ front_page_nouveau_perso.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('img/frontpagenouveaupersos/' ~ front_page_nouveau_perso.img) }}" class="img" alt=""></td>
            </tr>
            <tr>
                <th>Image2</th>
                <td><img src="{{ asset('img/frontpagenouveaupersos/' ~ front_page_nouveau_perso.img2) }}" class="img" alt=""></td>
            </tr>
            <tr>
                <th>Image3</th>
                <td><img src="{{ asset('img/frontpagenouveaupersos/' ~ front_page_nouveau_perso.img3) }}" class="img" alt=""></td>
            </tr>
            <tr>
                <th>Image4</th>
                <td><img src="{{ asset('img/frontpagenouveaupersos/' ~ front_page_nouveau_perso.img4) }}" class="img" alt=""></td>
            </tr>
            <tr>
                <th>Image5</th>
                <td><img src="{{ asset('img/frontpagenouveaupersos/' ~ front_page_nouveau_perso.img5) }}" class="img" alt=""></td>
            </tr>
            <tr>
                <th>Image6</th>
                <td><img src="{{ asset('img/frontpagenouveaupersos/' ~ front_page_nouveau_perso.img6) }}" class="img" alt=""></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_front_page_nouveau_perso_index') }}" class="text-light">Retour a la listes des Nouveau Perso en Front Page</a>

    <a href="{{ path('admin_front_page_nouveau_perso_edit', {'id': front_page_nouveau_perso.id}) }}" class="text-light">Modifier</a>

    {{ include('admin_front_page_nouveau_perso/_delete_form.html.twig') }}
{% endblock %}
