{% extends 'base.Admin.html.twig' %}

{% block title %}Front Page Nouveau Perso{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('css/cssadmin/artworkfichepersonnage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/cssadminbutton/cssbutton.css') }}">

{% endblock %}

{% block body %}
    <h1>Front Page Nouveau Perso</h1>

    <div class="espace2">
     <a href="{{ path('admin_front_page_nouveau_perso_index') }}" class="btn2">Retour vers Nouveau Perso en Front Page </a>

     <a href="{{ path('admin_front_page_nouveau_perso_edit', {'id': front_page_nouveau_perso.id}) }}" class="btn4">Modifier</a>

     {{ include('admin_front_page_nouveau_perso/_delete_form.html.twig') }}
    </div>
    
    <table class="table text-light">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ front_page_nouveau_perso.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('img/frontpagenouveaupersos/' ~ front_page_nouveau_perso.img) }}" class="img" alt=""></td>
            </tr>
        </tbody>
    </table>

    <div class="espace2">
        <a href="{{ path('admin_front_page_nouveau_perso_index') }}" class="btn2">Retour vers Nouveau Perso en Front Page </a>
   
        <a href="{{ path('admin_front_page_nouveau_perso_edit', {'id': front_page_nouveau_perso.id}) }}" class="btn4">Modifier</a>
   
        {{ include('admin_front_page_nouveau_perso/_delete_form.html.twig') }}
       </div>
{% endblock %}
