{% extends 'base.html.twig' %}

{% block title %}Votre espace utilisateur{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('css/cssbuttonuser.css') }}">

{% endblock %}

{% block body %}
{% for user in users %}
<h1>Profile de {{ user.pseudo }}</h1>
    <div id="example-sidenav" data-ax="sidenav" class="sidenav shadow-1 sidenav-fixed white">
      <a href="#" class="btn1">Modifier votre mot de Passe</a>
      <a href="#" class="btn2">Modifier profil</a>
      <a href="{{ path('home') }}" class="btn3">Retour vers Accueil</a>
    </div>
    <h1>Descriptif de votre compte</h1>
    <div class="grix xs2 container">
        <div class="col-xs1">Adrese mail :</div>
        <div class="col-xs3">{{ user.email }}</div>
        <div class="col-xs1">Pseudo :</div>
        <div class="col-xs3">{{ user.pseudo }}</div>
    </div>
    
    
{% endfor %}
    <main>
    
    </main>

  </body>
</html>
{% endblock %}
