{% extends 'base.html.twig' %}

{% block title %}Votre espace utilisateur{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('css/cssbuttonuser.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/csspageprofile.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/css.css') }}">


{% endblock %}

{% block body %}

<h1 class="text1">Descriptif de votre compte</h1>
<a href="{{ path('home') }}" class="btn3">Retour vers Accueil</a>
<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-md-6 text">
                <label>Pseudo :</label>
              </div>
              <div class="col-md-6 text">
                <p>{{ user.pseudo }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 text">
                <label>Email :</label>
              </div>
              <div class="col-md-6 text">
                <p>{{ user.email }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>


<main>

</main>

</body>

</html>
{% endblock %}